.wtTimeBox {
  z-index: 10001;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  background: transparent;
  border: 0;
}

.wtTimeFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: white;
  border: 0;
  margin-bottom: 5px;
  border-radius: 10px;
  -webkit-box-shadow: #666 0px 0px 10px;
  -moz-box-shadow: #666 0px 0px 10px;
  box-shadow: #666 0px 0px 10px;
}

.wtTimeFrameTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font: 18px  'Timeis',Verdana-Bold,'HelveticaNeue-CondensedBlack','Avenir-Black','Arial-BoldMT',Arial,sans-serif;
}

.wtTimeFrameTop > div:nth-child(1) {
  margin: 0 0 5px 10px;
  padding: 5px;
  background: #c35;
  color: white;
  font-weight: 900;
}
.wtTimeFrameTop > div:nth-child(2) {
  margin: 5px;
}

.wtTimeFrameTop > div:nth-child(3) {
  margin: 5px;
}

.wtTimeFrameContent {
  width: 100%;
  font-size: 50px;
  font-family: 'Times New Roman',Times,FreeSerif,serif;
  display: flex;
  justify-content: center;
}
.wtTimeFrameBottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: 'Times New Roman',Times,FreeSerif,serif;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 10px;
}
